{% extends "base.html" %}


{% block title %}


{% endblock title %}

{% block content %}

{% load crispy_forms_tags %}

<div class="cart-card">
    <div class="cart-row-container">
        <div class="col-md-8 cart">
            <div class="cart-title">
                <div class="cart-row">
                    <div class="cart-col">
                        <h4><b>PASSWORD RESET</b></h4>
                    </div>
                </div>
            </div>
            <div class="cart-row border-top border-bottom">
                <div class="cart-row main align-items-center">
                    <form action="" method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button class="btn btn-dark" type="submit" value="Login">Reset Password</button>
                    </form>
                </div>
            </div>
            <div 
                class="back-to-shop"><a href="{% url 'index' %}">&leftarrow;</a><span class="text-muted">Back to Shop</span>
            </div>
        </div>
        <div class="col-md-4 summary" style="display: flex;
            flex-direction: column; align-items: center; justify-content: center;">
            <p>Or</p>
            <div><a href="{% url 'login' %}">Login</a></div>
        </div>
    </div>
</div>


{% endblock content%}

